<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Nabla&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>BookNotes</title>
</head>

<body>
  <!-- ------------------------------- Search -------------------------------- -->
  <header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-flex flex-column gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a href="#" >
          <img src="images/favicon.png" alt="book icon" width="64px">
        </a>
        <h1 class="text-black mt-2 nabla-regular">BookNotes</h1>
      </div>
      <div class="d-flex col-10">
        <form class="w-100" action="/search" method="get">
          <input type="search" id="searchInput" class="form-control" placeholder="Enter the book name" aria-label="Search">
          <div class="dropdown mt-2">
            <ul id="dropdownList"></ul>
          </div>
        </form>
      </div>
    </div>
  </header>
  <!-- ---------------------------- Sorting part ----------------------------- -->
  <div class="dropdown row d-flex flex-column mx-auto w-75 my-3">
    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sort by
    </button>
    <ul class="dropdown-menu ">
        <li>
            <form action="/sort" method="post">
            <input type="hidden" name="sortType" value="htl">
            <button type="submit" class="dropdown-item">Rating - High-to-Low</button>
            </form>
        </li>
        <li>
            <form action="/sort" method="post">
            <input type="hidden" name="sortType" value="lth">
            <button type="submit" class="dropdown-item">Rating - Low-to-High</button>
            </form>
        </li>
        <li>
            <form action="/sort" method="post">
            <input type="hidden" name="sortType" value="rto">
            <button type="submit" class="dropdown-item">Time - Recent to Oldest</button>
            </form>
        </li>
        <li>
            <form action="/sort" method="post">
            <input type="hidden" name="sortType" value="otr">
            <button type="submit" class="dropdown-item">Time - Oldest to Recent</button>
            </form>
        </li>
    </ul>
</div>

  <!-- -------------------------------- Posts -------------------------------- -->
  <% if (locals.posts) { %>
    <div>
      <div class="row d-flex flex-column gap-2 justify-content-center align-content-center mx-lg-5 px-5 py-1">
          <% posts.forEach( post => {%>
            <div class="col-12" style="max-width: 1200px; margin: auto;">
              <div class="row rounded-2" style="border: 1px solid rgb(5, 0, 0);">
                <div class="col-md-3 col-5 d-flex justify-content-center rounded-start-2" style=" max-width: 326px; max-height: 500px; margin-left: -12px;" >
                  <img class="rounded-start-2 img-fluid me-auto" src="https://covers.openlibrary.org/b/id/<%= post.cover_id %>.jpg?default=https://openlibrary.org/static/images/icons/avatar_book-sm.png" >
                </div>
                <div class="col-md-8 col-7 mt-1 mb-1 d-flex">
                  <div class="d-flex flex-column mb-4 mt-1 w-100">
                    <h3 class="card-title"><%= post.title %></h3>
                    <h6 class="card-text text-body-secondary mt-1"><%= post.author %></h6>
                    <p class="card-text">
                      <% const roundedRating = Math.round( post.rating )%>
                          <% for (let i = 0; i < roundedRating; i++) { %>
                              ⭐
                      <% } %>
                      , <%= post.rating %>
                    </p>
                    <div class="card-text text-break" id="review<%=post.id%>" style="max-height: 150px; overflow-y: auto;">
                      <%= post.review %>
                    </div>
                    <form action="/edit" method="post">
                        <div class="card-text text-break" style="max-height: 150px; overflow-y: auto;">
                            <input type="hidden" name="id" value="<%= post.id %>">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" id="editReview<%=post.id%>" name="editedReview" style="height: 200px;" hidden><%=post.review%></textarea>
                        </div>
                        <div class="d-flex gap-2">
                          <button type="button" class="btn btn-dark border-light btn-sm rounded-5 btn-light mt-2 mb-2" id="editButton<%=post.id%>" onclick="openEditing('<%=post.id%>')"> <i class="bi bi-pencil-square"></i> </button>
                          <button type="submit" class="btn btn-dark border-light btn-sm rounded-5 btn-light mt-2 mb-2" id="checkButton<%=post.id%>" hidden> <i class="bi bi-check-lg"></i> </button>
                          <button type="button" class="btn btn-dark border-light btn-sm rounded-5 btn-light mt-2 mb-2" id="cancelReview<%=post.id%>" onclick="closeEditing('<%=post.id%>')" hidden> <i class="bi bi-x-lg"></i> </button>
                        </div>
                    </form>
                    <p class="card-text mt-auto"><small class="text-body-secondary"> <%= (post.time).toLocaleDateString()%> </small></p>
                  </div>
                  <div>
                    <form action="/delete/<%= post.id %>" method="post" style="height: 0%; width: 0%;">
                      <input type="text" hidden name="id" value="<%= post.id %>"/>
                      <button type="submit" class="btn rounded-circle mt-2"><i class="bi bi-trash3-fill"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
      </div>
    </div>
  <% } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="script.js"></script>

</body>

</html>